# Python caches
__pycache__/
*.pyc

# ML Models & Data (We want the code, not the heavy binary files)
models/*.pkl
telemetry_log.csv

# Virtual Environments
venv/
env/
.env

# Streamlit/OS junk
.streamlit/
.DS_Store